<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="diag">

  <xacro:include filename="$(find lucrezio_gazebo_worlds)/urdf/common.xacro" />
  <xacro:include filename="$(find lucrezio_gazebo_worlds)/urdf/materials.urdf.xacro" />

  <!-- apartment -->
  <xacro:include filename="$(find lucrezio_gazebo_worlds)/urdf/diag/diag_walls.urdf.xacro" />

  <!-- kitchen -->
  <xacro:include filename="$(find lucrezio_gazebo_worlds)/urdf/diag/kitchen.urdf.xacro" />

  <!--Parameters-->
  <xacro:property name="dist_axis_x" value="1.969" />
  <xacro:property name="dist_axis_y" value="4.070" />

  <xacro:property name="size_total_x" value="8.0" />
  <xacro:property name="size_total_y" value="11.2" />

  <xacro:property name="size_a" value="10" />
  <xacro:property name="size_b" value="7" />
  <xacro:property name="size_c" value="5" />
  <xacro:property name="size_d" value="0.70" />

  <xacro:property name="wall_depth" value="0.1" />
  <xacro:property name="wall_height" value="2.7" />
  <xacro:property name="window_depth" value="0.15" />

  <xacro:property name="size_z_wall1" value="2.7" />
  <xacro:property name="size_z_wall2" value="2.7" />
  <xacro:property name="size_z_wall3" value="2.7" />


  <xacro:macro name="diag" params="name">

    <gazebo>
      <plugin name="environment_gazebo_ros_control" filename="libgazebo_ros_control.so">
        <robotNamespace>world</robotNamespace>
        <robotParam>/world_description</robotParam>
      </plugin>
    </gazebo>

    <link name="world"/>

    <xacro:diag_walls name="diag_walls">
    </xacro:diag_walls>

    <xacro:kitchen name="kitchen">
    </xacro:kitchen>

  </xacro:macro>

  <xacro:diag name="diag" />

</robot>

