<?xml version="1.0"?>
<robot>

  <material name="DIAG/Blue">
    <color rgba="0.0 0.0 0.8 1.0"/>
  </material>

  <material name="DIAG/Green">
    <color rgba="0.0 0.8 0.0 1.0"/>
  </material>

  <material name="DIAG/Grey">
    <color rgba="0.7 0.7 0.7 1.0"/>
  </material>

  <material name="DIAG/Grey2">
    <color rgba="0.81 0.81 0.81 1.0"/>
  </material>

  <material name="DIAG/Red">
    <color rgba="0.8 0.0 0.0 1.0"/>
  </material>

  <material name="DIAG/White">
    <color rgba="1.0 1.0 1.0 1.0"/>
  </material>

  <material name="DIAG/Black">
    <color rgba="0.0 0.0 0.0 1.0"/>
  </material>

  <material name="DIAG/Transparent">
    <color rgba="0.81 0.81 0.81 0.0"/>
  </material>

  <material name="DIAG/LightBlue">
    <color rgba="0.624 0.698 0.858 1"/>
  </material>

</robot>
